body {
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: black; */
}

.bg-top {
  position: absolute;
  top: 0;
}

.bg-bot {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* info */

.info {
  width: 40%;
  position: absolute;
  top: 7%;
  line-height: 1.2;
}

.heading {
  margin-left: 65px;
  font-weight: 700;
  font-size: 3rem;
  color: hsl(300, 43%, 22%);
}

.content {
  margin-left: 65px;
  margin-top: 10px;
  font-weight: 400;
}

/* rating */

.rating {
  width: 40%;
  position: absolute;
  right: 50px;
}
.rate1 {
  width: 70%;
  position: absolute;
  top: 70px;
  background-color: hsl(300, 24%, 96%);
  padding: 15px 0 15px 25px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}
.rate2 {
  width: 70%;
  position: absolute;
  top: 130px;
  left: 50px;
  background-color: hsl(300, 24%, 96%);
  padding: 15px 0 15px 25px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}
.rate3 {
  width: 70%;
  position: absolute;
  top: 190px;
  left: 100px;
  background-color: hsl(300, 24%, 96%);
  padding: 15px 0 15px 25px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}
/* reviews */
.reviews {
  position: absolute;
  bottom: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 50px 0;
}

.name {
  display: grid;
  grid-template-columns: 100px auto;
}

.na-img {
  grid-row-start: 1;
  grid-row-end: 2;
}

.img {
  border-radius: 100%;
}

.text{
  text-align: center;
}

.na{
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
  text-align: left;

}
.sub {
  text-align: left;
  display: block;
  color: hsl(333, 80%, 67%);
}

.r1 {
  background-color: hsl(300, 43%, 22%);
  color: #fff;
  font-weight: 400;
  padding: 10px;
  margin: 0 10px 60px 15px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  border-radius: 3%;
}
.r2 {
  background-color: hsl(300, 43%, 22%);
  color: #fff;
  padding: 10px;
  font-weight: 400;
  margin: 20px 10px 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 3%;
    /* margin-bottom: 40px;
    margin-top: 20px; */
}
.r3 {
  background-color: hsl(300, 43%, 22%);
  color: #fff;
  font-weight: 400;
  padding: 10px;
  margin: 50px 15px 0 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 3%;
    /* margin-top: 50px; */
}

/* .na-img {
  display: grid;
  grid-column: auto;
}

.text {
  display: block;
}
.na {
  display: grid;
  grid-column: auto;
}
.sub {
  position: absolute;
} */

/* .r1 {
  width: 30%;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  background-color: hsl(300, 43%, 22%);
  color: #fff;
}
.r2 {
  width: 30%;
  display: inline-block;
  padding: 20px;
  padding: 10px;
  background-color: hsl(300, 43%, 22%);
  color: #fff;
}
.r3 {
  width: 30%;
  display: inline-block;
  padding: 20px;
  padding: 10px;
  background-color: hsl(300, 43%, 22%); */
  /* color: #fff;
} */

/* attribution */
.attribution {
  position: absolute;
  left: 40%;
  bottom: 10px;
}
